@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}


main {
  margin: 0 auto;
  width: 320px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

figure {
    margin: 0;
    
    background-color: white;
    position: relative;
}

figcaption {
    bottom:.1rem;
    right 5rem;
    padding: 1.2rem;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    color: white;
    text-align: left;
    padding 15px 0 15px 15px;
    font: italic 15px georgia, serif;
}

.box 1 {
}

.box 2 {
}

.box 3 {
}
    
    
    
